Source: pinaker
Section: x11
Priority: extra
Maintainer: Marcos Daniel Marado Torres <marado@isp.novis.pt>
Build-Depends: debhelper (>= 7.0.50~), lcl-units, lazarus-src, libxdamage1, fp-units-fcl, libxdmcp6, libxfixes3, fp-utils, libgtk2.0-dev, fp-units-gfx, libxcb-render-util0, locales, fp-units-base, libxi6, libpng12-0, fp-units-rtl, fp-compiler, libxcursor1, libpixman-1-0, lcl-gtk2, libxcb1, libc6-i686, fp-units-gtk2, libxrandr2, fp-units-misc, libxext6, libxcb-render0, libexpat1, libxau6, libxinerama1, libxcomposite1
Standards-Version: 3.8.4
Homepage: http://centria.fct.unl.pt/~ludi/software.html
#Vcs-Git: https://github.com/lkrippahl/Pinaker.git
#Vcs-Browser: https://github.com/lkrippahl/Pinaker

Package: pinaker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility to turn barcodes' photos into book data
 This application reads jpg files with photos of barcodes and retrieves the book data from the Web
